.purchase{
    margin-top: 80px;
}
.purchase-inside{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.purchase-tex-box{
    width:400px;
}
.purchase-title{
    font-size: 40px;
    margin-bottom: 60px;
}
.purchase-text{
        border-left: 3px solid #999999;
        color: #999999;
        padding: 5px 30px;
}
.purchase-btn{
    text-transform: uppercase;
    font-weight: 500px;
    display:inline-block;
    text-decoration: none;
    color: white;
    background-color: #EA625C;
    margin-top: 40px;
    padding: 14px 20px;
    transition:background-color 0.7s;
}
.purchase-btn:hover{
    background-color:#e4281e;
}
